body{
    color:black;
    background-image: url(../assets/background1.jpg);
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
    border: 2px solid black;
}

header{
    margin-top: 40px;
}

h1,
.answer{
    font-size: 2.5rem;
    font-family: 'Berkshire Swash', cursive;
    color: #ebb34b;
}

li,
p,
input,[type=submit],
h2{
    font-family: 'Nanum Gothic', sans-serif;
}

h2{
    font-size: 1rem;
    margin-bottom: 0;

}


.question{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;

}