.header-container{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;    
    h1{
        margin: 0;
        // font-family: 'Berkshire Swash', cursive;
        // font-size: 3.5rem;
        // color:#ebb34b;
    }
    p{
        margin-bottom: 0;
    }
}

header .wrapper{
    border-bottom: none;
}
.section-container{
    padding-bottom: 70px;
}


form{
    background: white;
    height: 26vh;
}

fieldset{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
    ul{
        display: flex;
        padding: 0;
        width: 80%;
        li{
            list-style: none;
            width: calc(100% / 3);
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // color: #ff400e;
            Input[type=radio]{
                margin:25px 0px; 
            } 
        }
    }
}

.button-container{
    padding:40px 0px 40px 0px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type=submit]{
        background:#ff400e;
        border: none;
        padding: 10px;
        border-radius: 12px;
    }
}



.answer{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 20px;
}