@media(max-width:840px){

    .wrapper{
        max-width: 650px;
    }
    
    .fa-angle-double-down{
        margin-top: 5px;
    }


    .section-container{
        padding-bottom: 75px;
    }


    fieldset ul{
        // flex: 1 1 90%;
        width: 90%;
        li{
            font-size: .8rem;
            text-align: center;
        }
    }
}