body{
    color:black;
    background-image: url(../assets/background1.jpg);
    font: 'Chivo', 'Overpass', sans-serif;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
    border: 2px solid black;
}

header{
    margin-top: 60px;
}

